/*--------------------- Reset ---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101a20;
  color: white;
  margin: 0;
}

/*----------------- 1. Header Section ---------------*/
#mh1 {
  font-size: 60px;
}

#headspan1 {
  color: #1387c1;
}

.navbar {
  margin: 2px;
  padding: 5px;
}

#hr {
  border: none;
  height: 1px;
  background-color: rgb(29, 48, 57);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 15px;
}

.navbar li {
  margin-right: 30px;
}

.navbar li:last-child {
  margin-right: 0;
}

#active {
  color: #1387c1;
}

.navbar a {
  text-align: center;
  padding: 2px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  gap: 30px;
}

.navbar a:hover {
  transition: 0.7s;
  display: block;
}

/*--------------2. About Me Section --------------*/
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 80px;
  gap: 125px;
  height: 500px;
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
}

.about-text {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px; /* adds natural spacing between h1, h2, and p */
}

.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.about-text h2 {
  font-size: 1.6rem;
  color: #1387c1;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.7;
}


/* Responsive */
@media (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 20px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }
}

/*--------------3. Footer Section --------------*/
footer {
  display: block;
  clear: both;
  padding: 0px;
}
