/*--------------------- Reset ---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101a20;
  color: white;
  margin: 0;
}

/*----------------- 1. Header Section ---------------*/
#mh1 {
  font-size: 60px;
  margin-bottom:10px;
}

#headspan1 {
  color: #1387c1;
  font-weight: bold;
}

.navbar {
  margin: 2px;
  padding: 5px;
  background-color: #0d1b2a
}

#hr {
  border: none;
  height: 1.3px;
  background-color: rgb(29, 48, 57);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 15px;
}

.navbar li {
  margin-right: 30px;
}

.navbar li:last-child {
  margin-right: 0;
}

#active {
  color: #1387c1;
}

.navbar a {
  text-align: center;
  padding: 2px 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  gap: 30px;
}

.navbar a:hover {
  transition: 0.7s;
  display: block;
}

/*--------------2. About Me Section --------------*/
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 80px;
  gap: 125px;
  height: 500px;
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: inline-block;
}

.about-text {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px; /* adds natural spacing between h1, h2, and p */
}

.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.about-text h2 {
  font-size: 1.6rem;
  color: #1387c1;
  margin-bottom: 10px;
}

.about-text p {
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.7;
}


/* Responsive */
@media (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 20px;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }
}

.about-btn{
    margin-top: 20px;
    display: flex;
    gap:20px;
}
.btn{
    text-decoration: none;
    padding: 9px 17px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    min-width: 150px;
    text-align: center;
}
.btn-main{
    background-color: #1387c1;
    color:white;
    box-shadow: 0 4px 10px rgba(19,135,193,0.3);
}
.btn-main:hover{
    background-color: #0f6a99;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(19,135,193,0.2);
}
.btn-alt{
    border: 1.5px solid #1387c1;
    color:#1387c1;
}
.btn-alt:hover{
    border: 1.5px solid #fbfeff;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(19,135,193,0.2);
}
/*--------------3. Footer Section --------------*/
.footer{
    background-color: #1c3653;
    text-align: center;
}
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-icons a{
    text-decoration: none;
    border-radius:50%;
    display: flex;
    justify-content: center;
    gap:20px;
    font-size: 1.2rem;
}
.footer-container p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #cccccc;
}
.fa-brands.fa-linkedin{
    color: #0A66C2;
}
.fa-brands.fa-linkedin:hover{
    color: #66b3ff;
}
.fa-brands.fa-github{
  color:  #181717;

}.fa-brands.fa-github:hover{
  color:  #2c2c2c;
}

